pkgbase = chaotic-keyring
	pkgdesc = Chaotic-AUR PGP keyring
	pkgver = 20240206
	pkgrel = 1
	url = https://aur.chaotic.cx
	install = chaotic-keyring.install
	arch = any
	license = GPL
	depends = archlinux-keyring
	optdepends = pkgstats: install to submit package usage statistics
	replaces = chaotic-kf5-dummy
	source = keyring-20240206-1.tar.gz::https://github.com/chaotic-aur/keyring/archive/20240206-1.tar.gz
	sha512sums = dbdd8f939ec6ebc654a64603adb7a03d59845eed2fbd84957a3dd62e26b2828481026667437bcccdc74cef2173a9ed61bb44e5193d05c678a0c77d871be5c44e

pkgname = chaotic-keyring
