pkgbase = chaotic-keyring
	pkgdesc = Chaotic-AUR PGP keyring
	pkgver = 20220220
	pkgrel = 1
	url = https://aur.chaotic.cx
	install = chaotic-keyring.install
	arch = any
	license = GPL
	depends = archlinux-keyring
	optdepends = pkgstats: install to submit package usage statistics
	source = keyring-20220220-1.tar.gz::https://github.com/chaotic-aur/keyring/archive/20220220-1.tar.gz
	sha512sums = 47d1ac2569d211b9c486ef01b01b8fda4276a84934f3f5302460215c28be623fcb6d1f7bc897cdff3f87dbe9dbf28135671ae64fe8ad328240a5710bcda8c004

pkgname = chaotic-keyring
